<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<div class="content">
  <!-- <p>You selected {{selected}}</p> -->
  <p><b><i>Welcome {{userService.user.email}},</i></b></p>

  <table id="flights">
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Date Of Journey</th>
    </tr>

    <tr>
      <td>
        <select class="form-control select2" (change)="updateSource($event)">
          <option>Select</option>

          <option *ngFor="let destination of destinations" [value]="destination">
            {{destination}}
          </option>
        </select>
      </td>
      <td>
        <select class="form-control select2" (change)="updateDestination($event)">
          <option>Select</option>

          <option *ngFor="let destination of destinations" [value]="destination">
            {{destination}}
          </option>
        </select>
      </td>
      <td>
        <input type="date" id="onwardJourneyDate" name="onwardJourneyDate" (change)="updateDate($event)">
      </td>
      <td><button type="button" class="editbtn" (click)="searchFlights()"><i
            class="fa fa-fw fa-search"></i>search</button></td>
    </tr>

  </table>
<br>
<br>
  <table id="flights" *ngIf="viewSearchResults()">
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Airlines</th>
      <th>BusinessClass Price</th>
      <th>EconomyClass Price</th>
      <th>From</th>
      <th>To</th>
      <th>Arrival</th>
      <th>Depature</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let flight of flightsBasedOnSchedule">
      <td>{{flight.id}}</td>
      <td>{{flight.code}}</td>
      <td>{{flight.airlines}}</td>
      <td>{{flight.businessClassPrice}}</td>
      <td>{{flight.economyClassPrice}}</td>
      <td>{{flight.from}}</td>
      <td>{{flight.to}}</td>
      <td>{{flight.arrivalTime}}</td>
      <td>{{flight.depatureTime}}</td>
      <td>{{flight.status}}</td>
      <td><button type="button" class="editbtn" (click)="bookFlight(flight)"><i class="fa fa-fw fa-edit"></i>Book</button></td>
    </tr>

  </table>

</div>