<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"
  id="bootstrap-css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="content">
  <!-- <p>You selected {{selected}}</p> -->
  <p><b><i>Welcome {{userService.user.email}},</i></b></p>

  <label class="radio-inline"><input type="radio" name="oneway" (click)="setOneWayTrip()" checked>One-Way</label>
  <label class="radio-inline"><input type="radio" name="oneway" (click)="setRoundWayTrip()">Round-Trip</label>

  <table id="flights">
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Date Of Journey</th>
      <th *ngIf="roundTrip">Return Date</th>
    </tr>

    <tr>
      <td>
        <select class="form-control select2" (change)="updateSource($event)">
          <option>Select</option>

          <option *ngFor="let destination of destinations" [value]="destination">
            {{destination}}
          </option>
        </select>
      </td>
      <td>
        <select class="form-control select2" (change)="updateDestination($event)">
          <option>Select</option>

          <option *ngFor="let destination of destinations" [value]="destination">
            {{destination}}
          </option>
        </select>
      </td>
      <td>
        <input type="date" id="onwardJourneyDate" name="onwardJourneyDate" (change)="updateDate($event)">
      </td>
      <td *ngIf="roundTrip">
        <input type="date" id="returnJourneyDate" name="returnJourneyDate" (change)="updateReturnDate($event)">
      </td>
      <td><button type="button" class="editbtn" (click)="searchFlights()"><i
            class="fa fa-fw fa-search"></i>search</button></td>
    </tr>

  </table>
  <br>
  <br>

  <h3 *ngIf="viewSearchResults()">Onward</h3>
  <table id="flights" *ngIf="viewSearchResults()">
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Airlines</th>
      <th>B.Price</th>
      <th>Available B.Tickets</th>
      <th>E.Price</th>
      <th>Available E.Tickets</th>
      <th>From</th>
      <th>To</th>
      <th>Arrival</th>
      <th>Depature</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let flight of flightsBasedOnSchedule">
      <td>{{flight.id}}</td>
      <td>{{flight.code}}</td>
      <td>{{flight.airlines}}</td>
      <td>{{flight.businessClassPrice}}</td>
      <td>{{flight.availableBusinessTickets}}</td>
      <td>{{flight.economyClassPrice}}</td>
      <td>{{flight.availableEconomyTickets}}</td>
      <td>{{flight.from}}</td>
      <td>{{flight.to}}</td>
      <td>{{flight.arrivalTime}}</td>
      <td>{{flight.departureTime}}</td>
      <td>{{flight.status}}</td>

      <td>
        <label class="radio-inline"><input type="radio" name="oneway" (click)="addOnwardFlight(flight)">Book</label>
      </td>
    </tr>
  </table>
  <br>

  <h3 *ngIf="viewSearchResults() && roundTrip">Return</h3>
  <table id="flights" *ngIf="viewReturnSearchResults() && roundTrip">
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Airlines</th>
      <th>B.Price</th>
      <th>Available B.Tickets</th>
      <th>E.Price</th>
      <th>Available E.Tickets</th>
      <th>From</th>
      <th>To</th>
      <th>Arrival</th>
      <th>Depature</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let flight of returnFlightsBasedOnSchedule">
      <td>{{flight.id}}</td>
      <td>{{flight.code}}</td>
      <td>{{flight.airlines}}</td>
      <td>{{flight.businessClassPrice}}</td>
      <td>{{flight.availableBusinessTickets}}</td>
      <td>{{flight.economyClassPrice}}</td>
      <td>{{flight.availableEconomyTickets}}</td>
      <td>{{flight.from}}</td>
      <td>{{flight.to}}</td>
      <td>{{flight.arrivalTime}}</td>
      <td>{{flight.departureTime}}</td>
      <td>{{flight.status}}</td>
      <td>
        <label class="radio-inline"><input type="radio" name="return" (click)="addReturnFlight(flight)">Book</label>
      </td>
    </tr>

  </table>
  <br>
  <button type="button" class="editbtn" (click)="bookFlight()" *ngIf="viewSearchResults() && checkBeforeProceed()"><i
      class="fa fa-fw fa-check"></i>Proceed checkout</button>

</div>