<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<app-sidenav></app-sidenav>


<div class="content">
  <button type="button" class="addbtn" (click)="showAddForm()"><i class="fa fa-fw fa-plus"></i>Add Flights</button>
  <!-- <button type="button" class="addbtn" (click)="showUpdateForm()"><i class="fa fa-fw fa-edit"></i>Update Flights</button> -->


  <div class="container">
    <form [formGroup]="updateFlightForm" class="form-inline" (ngSubmit)="modifyFlight()" *ngIf="showUpdateFlightForm">
      <div>
        <input type="text" placeholder="id" name="id" formControlName="id" required>
        <input type="text" placeholder="Code" name="Code" formControlName="code" required>
        <input type="text" placeholder="Airlines" name="Airlines" formControlName="airlines" required>
        <input type="text" placeholder="Availableclass" name="Availableclass" formControlName="availableclass" required>
        <input type="text" placeholder="RunsOn" name="RunsOn" formControlName="runson" required>
        <input type="text" placeholder="From" name="From" formControlName="from" required>
        <input type="text" placeholder="To" name="To" formControlName="to" required>
        <input type="text" placeholder="Contact" name="Contact" formControlName="contact" required>
        <input type="text" placeholder="Status" name="Status" formControlName="status" required>

        <button type="submit"  style="width: 50%;" class="editbtn"><i class="fa fa-fw fa-check"></i>Update</button><button type="submit"  style="width: 50%;" (click)="cancelUpdateForm()" class="deletebtn"><i class="fa fa-fw fa-remove"></i>Cancel</button>
      </div>
    </form>
  </div>

  <div class="container">
    <form [formGroup]="addFlightForm" class="form-inline" (ngSubmit)="addFlight()" *ngIf="showAddFlightForm">
      <div>
        <input type="text" placeholder="Code" name="Code" formControlName="code" required>
        <input type="text" placeholder="Airlines" name="Airlines" formControlName="airlines" required>
        <input type="text" placeholder="Availableclass" name="Availableclass" formControlName="availableclass" required>
        <input type="text" placeholder="RunsOn" name="RunsOn" formControlName="runson" required>
        <input type="text" placeholder="From" name="From" formControlName="from" required>
        <input type="text" placeholder="To" name="To" formControlName="to" required>
        <input type="text" placeholder="Contact" name="Contact" formControlName="contact" required>
        <input type="text" placeholder="Status" name="Status" formControlName="status" required>

        <button type="submit" style="width: 50%;" class="editbtn"><i class="fa fa-fw fa-check"></i>Save</button><button type="submit"  style="width: 50%;" (click)="cancelAddForm()" class="deletebtn"><i class="fa fa-fw fa-remove"></i>Cancel</button>
      </div>
    </form>
  </div>
  
  <table id="flights">
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Airlines</th>
      <th>Available Classes</th>
      <th>Runs on</th>
      <th>From</th>
      <th>To</th>
      <th>Contact</th>
      <th>Status</th>
    </tr>
    
    <tr *ngFor="let flight of flights">
      <td>{{flight.id}}</td>
      <td>{{flight.code}}</td>
      <td>{{flight.airlines}}</td>
      <td>{{flight.availableclass}}</td>
      <td>{{flight.runson}}</td>
      <td>{{flight.from}}</td>
      <td>{{flight.to}}</td>
      <td>{{flight.contact}}</td>
      <td>{{flight.status}}</td>
      <td><button type="button" class="deletebtn" (click)="deleteFlightById(flight.id)"><i
            class="fa fa-fw fa-trash"></i>Delete</button></td>
      <td><button  type="button" class="editbtn" (click)="showUpdateForm(flight)"><i
            class="fa fa-fw fa-edit"></i>Edit</button></td>
    </tr>

  </table>
</div>