<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 [ngStyle]="headerStyle">FSE Flight Booking System</h1>
  <div class="topnav">
    <a class="active" [routerLink]="['home']"><i class="fa fa-fw fa-home"></i> Home</a>
    <a [routerLink]="['searchFlight']"><i class="fa fa-fw fa-search"></i> Search</a>
    <a [routerLink]="['login']"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a [routerLink]="['login']"><i class="fa fa-fw fa-user"></i> Login</a>
  </div>