<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<app-sidenav></app-sidenav>

<div class="content">
  <button type="button" class="addbtn" (click)="showAddForm()"><i class="fa fa-fw fa-plus"></i>Add Scheduled</button>

  <div class="container">
    <form [formGroup]="updateScheduleForm" class="form-inline" (ngSubmit)="modifySchedule()" *ngIf="showUpdateScheduleForm">
      <div>
        <input type="text" placeholder="id" name="id" formControlName="id" required>
        <input type="text" placeholder="Code" name="Code" formControlName="code" required>
        <input type="text" placeholder="Scheduled Date (dd/mm/yyy)" name="ScheduledDate" formControlName="scheduledDate" required>
        <input type="text" placeholder="Arrival Time (HH:MM)" name="ArrivalTime" formControlName="arrivalTime" required>
        <input type="text" placeholder="DepatureTime (HH:MM)" name="DepatureTime" formControlName="depatureTime" required>
        <input type="text" placeholder="Status" name="Status" formControlName="status" required>

        <button type="submit"  style="width: 50%;" class="editbtn"><i class="fa fa-fw fa-check"></i>Update</button><button type="submit"  style="width: 50%;" (click)="cancelUpdateForm()" class="deletebtn"><i class="fa fa-fw fa-remove"></i>Cancel</button>
      </div>
    </form>
  </div>


  
  <div class="container">
    <form [formGroup]="addScheduleForm" class="form-inline" (ngSubmit)="addSchedule()" *ngIf="showAddScheduleForm">
      <div>
        <input type="text" placeholder="Code" name="Code" formControlName="code" required>
        
        <input type="text" placeholder="Scheduled Date (dd/mm/yyy)" name="ScheduledDate" formControlName="scheduledDate" required>
        <input type="text" placeholder="Arrival Time (HH:MM)" name="ArrivalTime" formControlName="arrivalTime" required>
        <input type="text" placeholder="DepatureTime (HH:MM)" name="DepatureTime" formControlName="depatureTime" required>
        <input type="text" placeholder="Status" name="Status" formControlName="status" required>

        <button type="submit"  style="width: 50%;" class="editbtn"><i class="fa fa-fw fa-check"></i>Update</button><button type="submit"  style="width: 50%;" (click)="cancelAddForm()" class="deletebtn"><i class="fa fa-fw fa-remove"></i>Cancel</button>
      </div>
    </form>
  </div>

  <table id="flights">
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Scheduled Date</th>
      <th>Arrival Time</th>
      <th>Depature Time</th>
      <th>Status</th>
    </tr>
    
    <tr *ngFor="let schedule of schedules">
      <td>{{schedule.id}}</td>
      <td><a [routerLink]="['/', 'admin', 'manageFlights']" routerLinkActive="active" >{{schedule.code}}</a></td>
      <td>{{schedule.scheduledDate}}</td>
      <td>{{schedule.arrivalTime}}</td>
      <td>{{schedule.depatureTime}}</td>
      <td>{{schedule.status}}</td>

      <td><button type="button" class="deletebtn" (click)="deleteSchdeuleById(schedule.id)"><i
        class="fa fa-fw fa-trash"></i>Delete</button></td>
      <td><button  type="button" class="editbtn" (click)="showUpdateForm(schedule)"><i
            class="fa fa-fw fa-edit"></i>Edit</button></td>
    </tr>

  </table>
</div>