<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<table class="table table-dark" style="width: 50%;margin-left: auto;
margin-right: auto;">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Airlines</th>
      <th scope="col">Write to</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Indigo</td>
      <td>support@indigo.com</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Air Asia</td>
      <td>support@airasia.com</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Air India</td>
      <td>support@airindia.com</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>SpiceJet</td>
      <td>support@spicejet.com</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Air Asia</td>
      <td>support@airasia.com</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Go First</td>
      <td>support@gofirst.com</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Vistara</td>
      <td>support@vistara.com</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Alliance Air</td>
      <td>support@allianceair.com</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>TruJet</td>
      <td>support@trujet.com</td>
    </tr>

  </tbody>
</table>